<div class="transaction-card">
    <div class="transaction-info">
        <h1>{{this.title}} </h1>
        <h2>{{this.description}}</h2>
        <h2 class="date" >Date: {{this.date}}</h2>
        {{!-- <script>console.log("Date:", {{this.date}})</script> --}}
        <span class="amount">{{this.amount}}</span>
        {{#if this.recurring}}
            <span class="recurring">Repeats {{this.recurringType}}</span>
        {{/if}}
    </div>

    <div class="transaction_buttons">
        <img src="../img/edit.png" class="edit_transaction" alt="Edit">
        <img src="../img/delete.png" class="delete_transaction" alt="Delete">
    </div>
    <i class="bar"></i>
</div>
<script>
    $(function () {
        $('.amount').text("PHP " + parseFloat($('.amount').text(), 10).toFixed(2));
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        date = new Date( $('.date').text())
        console.log(date);
        $('.date').text(months[date.getMonth()] + " " + date.getDate() + ", " + date.getFullYear());
        
    });
</script>
